:root{
    --border-s:#073b5c;
    --text-s:#fff;
    --bg-s:#3a3838;
}
.calendar{
    
    text-align: center;
    /* padding-top: 2rem; */
    display: flex;
    justify-content: space-between;
    
}
.dark-mode {
    background-color:var(--bg-s);
    color: var(--text-s);
  }
 
#body{
background-color: var(--bg-s);


}
.columns-s{
    background: linear-gradient(45deg,red,blue,green,black);
    animation: cambiar 10s ease-in-out infinite;
    background-size: 400% 400%;
    position: relative;
    height: 100vh;
    width: 20px;
    /* padding-left: 5rem; */

}
.column-t{
    background: linear-gradient(45deg,red,blue,green,black);
    animation: cambiar 10s ease-in-out infinite;
    background-size: 400% 400%;
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 2rem;
    
    
}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
#frame{
    border-style: solid;
    border-color: var(--bg-s);
}
#style-nav{
    background-color:var(--bg-s);

}
    

#text-s{
    color: var(--text-s);
}

.nav-s{
    background: linear-gradient(45deg,red,blue,green,black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}